@import '../../variables.css';

.projects {
  /* display: grid;
  place-items: center; */
  min-height: 100%;
  width: 100%;
  padding: 3rem 12vw;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  color: var(--text);
  background-color: var(--bg);
  /* color: var(--color-text); */
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: min(80vw, 970px);
  max-width: 970px;
  /* min-height: 65vh; */
  /* height: 340px; */
  border: 1px solid var(--lines);
  container-type: inline-size;
}

.header {
  margin: 0;
  padding: 1rem 1.5rem 0;
  font-family: var(--headerFont);
  font-weight: 400;
  font-size: 2rem;
  color: var(--textFade);
}

.footer {
  height: 35px;
}
