@import '../../variables.css';

.blog {
  /* height: 100%; */
  width: 100%;
  padding: 3rem 12vw;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  color: var(--text);
  background-color: var(--bg);
}

.blogContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: min(80vw, 970px);
  max-width: 970px;
  min-height: 65vh;
  /* height: 340px; */
  margin-bottom: 0;
  border: 1px solid var(--lines);
  container-type: inline-size;
}

.tags {
  position: absolute;
  bottom: 38px;
  left: -0.25rem;
  transform-origin: left bottom;
  transform: rotate(-90deg);
  font-size: 0.8rem;
}

.tagsList {
  display: flex;
  gap: 1rem;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 300;
  &:hover {
    font-weight: 400;
  }
}

.unchecked {
  /* width: 1rem;
  height: 1rem;
  border: 1px solid var(--lines); */
}

.posts {
  padding: 1rem 1.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.header {
  margin: 0;
  font-family: var(--headerFont);
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--textFade);
}

.footer {
  height: 35px;
  border-top: 1px solid var(--lines);
  /* border-right: 1px solid var(--lines);
  border-left: 1px solid var(--lines);
  border-bottom: 1px solid var(--lines); */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem 1rem;
}
