.projectContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3rem;
  place-items: center;
  padding: 2rem 2.5rem;
}

@media (max-width: 900px) {
  .projectContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .imgContainer {
    max-width: 90%;
  }
}

.imgContainer {
  width: 100%;
  & img {
    display: block;
    width: 100%;
    outline: 1px solid transparent;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 10%);
    transition: 0.3s ease-in-out;
    &:hover {
      outline: 1px solid var(--accent);
      box-shadow: 0px 0px 6px 1px var(--hoverShadow);
    }
  }
}

.projectDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  text-align: right;
  & p {
    margin: 0;
  }
}

.projectTitle {
  margin: 0 0 0 4rem;
  font-size: 2rem;
  /* font-weight: 600; */
  color: var(--textFade);
  border-bottom: 0.5rem solid var(--textFade);
}

.projectDescription {
  font-size: 0.9rem;
}

.tags {
  & ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.tag {
  padding: 0.15rem 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  /* color: var(--bgLight); */
  color: #eee;
  background-color: var(--accent);
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.6rem;
  & a:hover {
    transform: scale(1.05);
  }
}

@keyframes from-left {
  from {
    opacity: 0;
    scale: 2;
    translate: -30rem;
    filter: blur(50px);
  }
}

@keyframes from-right {
  from {
    opacity: 0;
    translate: 30rem;
    filter: blur(50px);
  }
}

@keyframes from-bottom {
  from {
    opacity: 0;
    transform: translateY(30rem);
    filter: blur(75px);
  }
}

@keyframes scale-in {
  from {
    scale: 0;
    filter: blur(75px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .imgContainer {
    animation: from-left var(--easeOut) both;
    animation-timeline: view();
    animation-range: 5vh 25vh;
  }
  .projectTitle {
    animation: from-right var(--easeOut) both;
    animation-timeline: view();
    animation-range: 0vh 15vh;
  }
  .projectDescription {
    animation: from-bottom var(--easeOut) both;
    animation-timeline: view();
    animation-range: 0vh 10vh;
  }
  .tags {
    animation: from-bottom var(--easeOut) both;
    animation-timeline: view();
    animation-range: 0vh 10vh;
  }
  .links {
    animation: from-bottom var(--easeOut) both;
    animation-timeline: view();
    animation-range: 0vh 10vh;
  }
}
