@import '../../variables.css';

a {
  &:hover {
    font-weight: 400;
  }
}

.listItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 0.5rem;
}

.title {
  margin: 0rem 0 0;
  font-size: 0.95rem;
  color: var(--text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  margin: 0 0 0rem;
  font-size: 0.8rem;
  color: var(--text);
  white-space: nowrap;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
