.container {
  /* display: flex; */
  padding: 2rem;
  /* gap: 6rem; */
  width: min(90vw, 1080px);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  border-radius: 1rem;
}

.imgContainer {
  max-width: 40vw;
  border-radius: 1rem;
  border: 1px solid #333;
  & img {
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
  }
}

.flexContainer {
  width: 40vw;
}

.content {
  margin: 0 auto;
  /* width: max(60vw, 1080px); */
}

.title {
  margin: 1rem 0 0rem;
  font-size: 1.8rem;
  font-weight: 800;
  color: rgb(13, 82, 87);
}

.date {
  margin: 0 0 0.5rem;
  font-size: 0.9rem;
  color: #889797;
  font-family: 'Montserrat', sans-serif;
}

.info {
  margin: 0 0 1.5rem;
  display: flex;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  & p {
    margin: 0;
  }
}

.markdown {
}
