.container {
  /* margin-top: 1rem; */
  /* display: flex; */
  padding: 2rem;
  /* gap: 6rem; */
  width: min(95vw, 880px);
  background-color: rgb(246, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.imgContainer {
  width: 90%;
  border: 1px solid #333;
  & img {
    width: 100%;
    object-fit: contain;
  }
}

.flexContainer {
  width: 90%;
}

.content {
  margin: 0 auto;
}

.title {
  margin: 1rem 0 0rem;
  font-size: 1.8rem;
  font-weight: 800;
  color: rgb(13, 82, 87);
}

.date {
  margin: 0 0 0.5rem;
  font-size: 0.9rem;
  color: #889797;
  font-family: 'Montserrat', sans-serif;
}

.info {
  margin: 0 0 1.5rem;
  display: flex;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  & p {
    margin: 0;
  }
}

.markdown {
}
