.hero {
  height: 60%;
  padding: 2rem 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(239, 245, 245);
  background: linear-gradient(
    90deg,
    rgba(4, 41, 48, 1) 0%,
    rgba(11, 83, 96, 1) 65%,
    rgba(0, 36, 38, 1) 99%
  );
}

.heroContent {
  flex: 1 1 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding: 2rem;
}

.h1 {
  font-size: 3.3em;
  margin-bottom: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

.hero-content p {
  width: 82%;
  font-size: 1.2em;
}

.heroImg {
  /* flex: 1 1 0; */
  width: 40%;
  height: 40vh;
  /* margin: 2rem; */
  background-color: rgba(190, 190, 190, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  background-image: linear-gradient(to right top, #052837, #00586e, #007b9f, #00b3c1, #12ebd1);
  color: white;
  & span {
    font-size: 2rem;
  }
}

.hero a.pending button {
  opacity: 50%;
}
