@import '../../variables.css';

.hero {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: calc(100vh - 5rem);
  padding: 2rem 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lines);
  background-color: var(--bg);
}

.heroContainer {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: repeat(6, 70px);
  flex: 1 1 0;
  max-width: 970px;
  /* height: 340px; */
  margin-bottom: 0;
  padding: 2rem;
  & button {
    background-color: rgb(4, 238, 195);
    color: #021d19;
  }
}

.symbols {
  grid-column: 1;
  grid-row: 1 / -1;
}

.svgContainer {
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border-top: 1px solid var(--lines);
  border-left: 1px solid var(--lines);
  border-right: 1px solid var(--lines);
  &:last-of-type {
    border-bottom: 1px solid var(--lines);
  }
}

.svgContainerLrg {
  width: 100%;
  aspect-ratio: 1 / 2;
  display: grid;
  place-content: center;
  border-top: 1px solid var(--lines);
  border-left: 1px solid var(--lines);
  border-right: 1px solid var(--lines);
}

/* .heroContent {
  grid-column: 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lines);
} */

.title {
  grid-column: 2;
  grid-row: 1 / 6;
  height: 100%;
  padding: min(8rem, 10vw);
  display: grid;
  place-content: center;
  font-size: 2.5rem;
  /* font-weight: bold; */
  line-height: 1.1;
  border-top: 1px solid var(--lines);
  border-right: 1px solid var(--lines);
  /* border-left: 1px solid var(--lines); */
}

.footer {
  grid-column: 2;
  grid-row: -1 / -2;
  height: 100%;
  border-top: 1px solid var(--lines);
  border-right: 1px solid var(--lines);
  border-bottom: 1px solid var(--lines);
  position: relative;
  &::after {
    position: absolute;
    content: url('../../assets/SVG/pointer.svg');
    right: 15%;
    bottom: 35%;
  }
}

.heroContent p {
  width: 82%;
  font-size: 1.2em;
  line-height: 1.3;
  font-family: 'Courier New', Courier, monospace;
}

/* .heroImg {
  width: 40%;
  height: 300px;
  background-color: rgba(190, 190, 190, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  background-image: linear-gradient(to right top, #052837, #00586e, #007b9f, #00b3c1, #12ebd1);
  color: white;
  & span {
    font-size: 2rem;
  }
} */

.hero a.pending button {
  opacity: 50%;
}
