@import '../../variables.css';

.hero {
  height: calc(100vh - 5rem);
  padding: 2rem 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(239, 245, 245);
  background: var(--gradientBG);
}

.heroContent {
  flex: 1 1 0;
  width: 100%;
  height: 340px;
  margin-bottom: 0;
  padding: 2rem;
  & button {
    background-color: rgb(4, 238, 195);
    color: #021d19;
  }
}

.h1 {
  font-size: 3.3em;
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

.hero-content p {
  width: 82%;
  font-size: 1.2em;
  font-family: 'Titillium Web', sans-serif;
}

.heroImg {
  /* flex: 1 1 0; */
  width: 40%;
  height: 300px;
  /* margin: 20% 0; */
  /* margin: 2rem; */
  background-color: rgba(190, 190, 190, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  background-image: linear-gradient(to right top, #052837, #00586e, #007b9f, #00b3c1, #12ebd1);
  color: white;
  & span {
    font-size: 2rem;
  }
}

.hero a.pending button {
  opacity: 50%;
}
