@import '../../variables.css';

.card {
  width: 90%;
  height: 17rem;
  /* padding: 1rem 1.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  place-self: center;
  border-radius: 1rem;
  box-shadow: 0px 15px 50px 22px rgba(0, 64, 67, 0.1);
  color: rgb(10, 64, 68);
  outline: 1px solid transparent;
  transition: outline-color 0.25s;
  &:hover {
    outline: 1px solid #646cff;
  }
}

.imgContainer {
  width: 100%;
  height: 15%;
  /* margin: 1rem 0; */
  /* Same gradient as in the header */
  border-radius: 1rem 1rem 0 0;
  background: linear-gradient(
    90deg,
    rgb(0, 180, 150) 0%,
    rgb(0, 240, 204) 40%,
    rgb(1, 228, 202) 60%,
    rgb(1, 202, 172) 100%
  );
  & img {
    width: 0%;
    height: 0%;
    object-fit: contain;
  }
}

.flexContainer {
  height: 100%;
  padding: 0.5rem 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 0.5rem 0 0rem;
  font-size: 1.25rem;
  font-weight: 800;
  color: rgb(13, 82, 87);
}

.date {
  margin: 0 0 0.5rem;
  font-size: 0.9rem;
  color: #889797;
  font-family: 'Montserrat', sans-serif;
}

.author {
  margin: 0;
  font-style: italic;
}

.text {
  margin: 0.25rem 0 0;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}

.info {
  display: flex;
  gap: 0.5rem;
  font-size: 0.7rem;
  color: rgb(10, 64, 68, 0.8);
  font-family: 'Montserrat', sans-serif;
}

.tags {
  font-weight: bold;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
