@import '../../variables.css';

.header {
  position: fixed;
  width: calc(100% - calc(4px + var(--frame) * 2));
  height: 3rem;
  padding: 0.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: transparent;
  z-index: 1;
}

.logo {
  margin: 0;
  color: var(--text);
  font-size: 1rem;
  font-weight: inherit;
}

header a {
  /* font-weight: bold; */
  padding-bottom: 0.2rem;
  color: var(--text);
  text-decoration: inherit;
  cursor: pointer;
  font-weight: 300;
  &:hover {
    /* color: var(--text); */
    font-weight: 400;
  }
}

@media (max-width: 1280px) {
  .header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--lines);
  }
}
