@import '../../variables.css';

.header {
  position: fixed;
  width: calc(100% - calc(4px + var(--frame) * 2));
  height: 3rem;
  padding: 0.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 1;
}

.logo {
  color: var(--text);
  font-size: 1rem;
  font-weight: inherit;
}

@media (max-width: 1280px) {
  .header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--lines);
  }
}
