@import '../../variables.css';

.container {
  /* margin-top: 3rem; */
  /* display: flex; */
  padding: 0;
  /* gap: 6rem; */
  width: min(95vw, 990px);
  /* background-color: var(--bgLight); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.imgContainer {
  width: 90%;
  border: 1px solid #333;
  & img {
    width: 100%;
    object-fit: contain;
  }
}

.flexContainer {
  width: 100%;
  padding: 3rem;
  /* border: 1px solid var(--accent); */
}

.content {
  margin: 0 auto;
}

.title {
  margin: 1rem 0 1rem;
  font-family: var(--headerFont);
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: var(--textFade);
}

.date {
  margin: 0 0 0.25rem;
  color: var(--textFade);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}

.info {
  margin: 0 0 0rem;
  display: flex;
  gap: 0.5rem;
  color: var(--textFade);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  & p {
    margin: 0;
  }
}

.divider {
  margin: 1rem 0 1.6rem;
  width: 100%;
  height: 20px;
  background-color: var(--textFade);
}

.markdown {
  /* font-family: var(--headerFont); */
  margin-top: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  & a {
    color: var(--link);
    font-weight: 500;
    &:visited {
      color: var(--linkVisited);
    }
    &:hover {
      color: var(--linkHover);
    }
  }
  & h1,
  h2,
  h3,
  h4 {
    font-family: var(--bodyFont);
    font-weight: 600;
    /* color: var(--textFade); */
  }
  & h3 {
    font-size: 1.5rem;
    margin: 3rem 0 1.5rem;
    color: var(--textFade);
  }
  /* & h3::after {
    display: inline-block;
    content: '';
    border-top: 1px solid black;
    width: 100%;
    transform: translateY(-1rem);
  } */
  & h4 {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0.25rem;
    font-weight: bold;
  }
  & p {
    margin-top: 0.75rem;
  }
  & ul {
    margin: initial;
    padding: 0 0 0 40px;
  }
  & li {
    display: list-item;
    list-style: square;
  }
  & img {
    max-width: min(80%, 700px);
    margin: 0 10%;
    background: var(--bgLight);
    border-radius: 10px;
  }
  & blockquote {
    /* color: #666; */
    margin: 0;
    padding-left: 1.25rem;
    font-family: var(--headerFont);
    font-style: italic;
    font-weight: bold;
    border-left: 0.3rem var(--textFade) solid;
    & p {
      quotes: initial;
      &::after {
        content: '”';
      }
      &::before {
        content: '“';
      }
    }
  }
  /* &::first-letter {
    initial-letter: 2 1;
    margin-right: 0.1rem;
  } */
}

/* .markdownpre {
  padding: 0.25rem 0.5rem;
  background-color: rgb(30, 30, 30);
} */

/* Style main code blocks */
.markdown pre code {
  font-size: 0.9rem;
  font-family: var(--bodyFont);
  font-weight: bold;
  background: none;
  /* color: #ddd; */
}

/* Style inline code */
.markdown p > code {
  padding: 0 0.25rem;
  font-size: 0.9rem;
  font-weight: 600;
  background: #f0f0f0;
}

/* Style code blocks that haven't been assigned a language */
.markdown > pre {
  margin: 1.5rem 0;
  /* padding: 0 0.25rem; */
  /* background: var(--bg); */
}

/* Workaround to use "* (em) tags" in markdown to create image captions */
.markdown img + em {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  display: block;
  font-weight: 400;
}

.markdown p:has(img) {
  margin: 2rem 0;
}

@media (max-width: 1280px) {
  .flexContainer {
    border: none;
  }
}
