@import '../../variables.css';

.container {
  /* margin-top: 1rem; */
  /* display: flex; */
  padding: 2rem;
  /* gap: 6rem; */
  width: min(95vw, 880px);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.imgContainer {
  width: 90%;
  border: 1px solid #333;
  & img {
    width: 100%;
    object-fit: contain;
  }
}

.flexContainer {
  width: 90%;
}

.content {
  margin: 0 auto;
}

.title {
  margin: 1rem 0 0rem;
  font-family: var(--headerFont);
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--textFade);
}

.date {
  margin: 0 0 0.5rem;
  color: var(--textFade);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

.info {
  margin: 0 0 1.5rem;
  display: flex;
  gap: 0.5rem;
  color: var(--textFade);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  & p {
    margin: 0;
  }
}

.markdown {
  /* font-family: var(--headerFont); */
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  & a {
    color: var(--link);
    font-weight: 500;
    &:visited {
      color: var(--linkVisited);
    }
    &:hover {
      color: var(--linkHover);
    }
  }
  & h1,
  h2,
  h3,
  h4 {
    font-family: var(--bodyFont);
    font-weight: bold;
    /* color: var(--textFade); */
  }
  & h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
  & h4 {
    margin-bottom: 0.5rem;
    /* font-weight: 600; */
  }
}

/* .markdownpre {
  padding: 0.25rem 0.5rem;
  background-color: rgb(30, 30, 30);
} */

.markdown pre code {
  font-size: 0.9rem;
  font-family: var(--bodyFont);
  font-weight: bold;
}

.markdown code {
  font-size: 0.9rem;
}
