html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

a {
  text-decoration: inherit;
}

nav a {
  font-weight: bold;
  color: rgb(207, 228, 229);
  text-decoration: inherit;
  cursor: pointer;
  &:hover {
    color: #03fddc;
  }
}

nav a.active {
  color: white;
}

ul,
li {
  list-style-type: none;
  padding-inline-start: 0;
}

h1,
h2,
h3 {
}

body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #333;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 0.7rem 0;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: #646cff;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.error-container {
  height: 50vh;
  display: grid;
  place-items: center;
}

.error-page {
  display: grid;
  place-items: center;
}

/* .error-page a {
  margin-top: 1rem;
} */

/* .loading {
  color: black;
}

.loading div:not(first-child) {
  visibility: hidden;
}

.loading:before {
  height: 50vh;
  display: grid;
  place-items: center;
  content: 'loading...';
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
