body {
  --gradientBG: linear-gradient(
    90deg,
    rgba(4, 41, 48, 1) 0%,
    rgb(9, 74, 85) 65%,
    rgba(0, 36, 38, 1) 100%
  );
  --bg: #e2e2e2;
  --bgLight: #e2e2e2;
  --accent: #834bdb;
  --lines: #999;
  --text: #444;
  --textFade: #4d4d4d;
  --header: #333;
  /* --labelBg: #333; */
  --bodyFont: 'IBM Plex Mono', monospace;
  --headerFont: Helvetica, Arial, sans-serif;
  --link: #b94afe;
  --linkHover: rgb(199, 146, 234);
  --linkVisited: #834bdb;
  --frame: 2rem;
  --codeBg: #f0f0f0;
  --hoverShadow: rgba(131, 75, 219, 0.1);
}

body.dark {
  --bg: #181818;
  /* --bgLight: #181818; */
  --lines: #555;
  --text: #b5b5b5;
  --textFade: #c2c2c2;
  --header: #d5d5d5;
  --link: rgb(199, 146, 234);
  --linkHover: rgb(224, 171, 255);
  --codeBg: #444;
  --hoverShadow: rgba(131, 75, 219, 0.75);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #181818;
    --bgLight: #181818;
    --lines: #555;
    --text: #d5d5d5;
    --textFade: #c2c2c2;
  }
} */
