.themeSelector {
  position: absolute;
  bottom: 38px;
  /* left: -0.25rem; */
  left: 0.5rem;
  transform-origin: left bottom;
  transform: rotate(-90deg);
  font-size: 0.8rem;
}

.themes {
  display: flex;
  gap: 1rem;
}

.theme {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 300;
  &:hover {
    font-weight: 400;
  }
}
