.themeSelector {
  position: absolute;
  bottom: 0rem;
  left: 2.5rem;
  transform-origin: left bottom;
  transform: rotate(-90deg);
  font-size: 0.8rem;
}

.themes {
  display: flex;
  gap: 0.75rem;
}

.theme {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  & span {
    padding-bottom: 0.2rem;
    font-size: 1.5rem;
  }
  &:hover {
    -webkit-text-stroke: 0.4px var(--text);
  }
}
